*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

    }
    .swiper-button-next{
    	 width:13px;
    	 height: 30px;
    	 background-size: contain;
    	 right:auto;
    	 margin-left: -13.5px;
    	 left:50%;
    	 top:auto;
    	 bottom:5%;
    	 transform: rotate(-90deg);
    	 animation:  buttonnext 1s infinite;
    	 
    	
    }
    @keyframes buttonnext{
    	from{
    		botton:3%;
    		opacity: 1;
    	}
    	to{
    		botton:6%;
    		opacity: 0;
    	}
    }
    
    
    #mp3btn{
		position: absolute;
		right:5%;
		top:5%;
		z-index: 100;
		width: 38px;
		height: 38px;
		background: rgba(0,0,0,0.5);
		border-radius: 50%;
		border:4px solid #292929; 
		text-align: center;
		line-height: 38px;
	/*	transform: rotateZ(0 deg);*/
		animation: mp3key 5s;
		/*一直*/
		animation-iteration-count: infinite;
		/*匀速*/
		animation-timing-function: linear;
		/*默认运行动画*/
		animation-play-state: running;
		
	}
	@keyframes mp3key{
		form{
			transform:rotateZ(0deg);
		}
		to{
			transform:rotateZ(360deg);
		}
		
		
	}
	#mp3btn img{
		width:15px;	
	}
	





/*     通用样式           kaishi*/
.s1,.s2,.s3,.s4,.s5{
	position: relative;
	background: url(../img/bg.jpg);
	background-size: 100%;
	 height: 100%;
}


/*      制作            .s1*/
.s1{
	color:#fff;
	position: relative;
}

.s1 div{
	width: 100%;
	height: 50%;
	margin:auto;
	position: absolute;
	top: 37%;
    left: 14%;
}
.s1  img{
	width: 110px;
    height: 100px;
    left: 18%;
    position: relative;
	animation: pulse infinite;
}
.s1 p{
	font-family: 楷体;
    width: 60%;
    height: 16%;
    line-height: 52px;
    position: absolute;
    top: -40%;
    font-size: 28%;
    left: 6%;
    background:url(../img/biaoti.png) ;
    background-size: cover;
}
.s1 h3{
	width: 100%;
    position: absolute;
    top: 85%;
    left: -14%;
    font-size: 18px;
}
.s1 h3 span{
	font-size: 50%;
}
.s1 h3 img{
	width: 50px;
	height: 50px;
	position: absolute;
    top: 110%;
    left: 43%;
	
}
.s1  div h1{
	
	width: 70%;
    height: 20%;
    position: relative;
	background: rgba(3, 13, 21, 0.64);
	border-radius: 10px;
	top:-1%;
	animation: pulse infinite;
	
}
.s1  div h1 span{
	font-size: 50%;
	    line-height: 70px;
}

.s2 .title img{
    width: 86%;
    height: 70%;
    position: absolute;
    left: 29px;
    top: 18%;
}

.s2 p{
	color:#fff;
}
.s2 h2{
	color: #00f2ca;
    padding-top: 11%;
    padding-bottom: 20%;
    font-size: 28px;
}

.s2 .text{
    width: 70%;
    text-align:left;
    position:absolute;
    top:21%;
    left:50%;
    margin-left:-35%;
    color: #4c4545;
}
.s2 .text p{
    font-size:14px;
    line-height:20px;
    margin-bottom: 10px;
}
.s2 .text .main p:nth-of-type(1){
    font-size:20px;
    margin-bottom:20px;
    margin-top: 15px;
}
.s2 .footer{
    margin-top: 40px;
    text-align:right;
}



.s3 .title img{
    width: 86%;
    height: 70%;
    position: absolute;
    left: 29px;
    top: 18%;
}




.s4 .title img{
    width: 86%;
    height: 70%;
    position: absolute;
    left: 29px;
    top: 18%;
}
.s4 .ditu{
	width: 80%;
    height: 52%;
    position: absolute;
    top: 27%;
    left: 10%;
	
}
.s4 .ditu1{
	    width: 5%;
    height: 5%;
    position: absolute;
    top: 53%;
    left: 60%;
}

.s4 h4{
	position: absolute;
	top:10%;
	left:20%;
	color:#00f2ca;
	font-size: 28px;
}


.s5 p img:nth-of-type(1){
	width: 200px;
    height:250px;
    position: absolute;
     top: 18%;
    left: 25%;
	/*animation: pulse infinite;*/
}
.s5 p img:nth-of-type(2){
	width: 100%;
    height:250px;
    position: absolute;
     top: 38%;
    left: 0%;
	/*animation: bounceIn infinite;*/
}

.s5 p img:nth-of-type(3){
	width: 22%;
    height: 8%;
    position: absolute;
    top: 51%;
    left: 50%;
    margin-left: -50px;

}


.s5{
	color:#00f8ca;
}
.s5 h2{
	font-size: 26px;
	margin-top: 10px;
	position: relative;
	top:12%;
}
.s5 h2 span{
	font-size: 26px;
}
.s5 small{
	font-size: 14px;
	display: block;
	margin-top: 10px;
	letter-spacing:5px;
}
.s5 h2::before,.s7 h2::after{
	content: "";
	width: 80px;
	height: 20px;
	display: inline-block;
	position: absolute;
}
.s5 h2::before{
	animation: swing infinite;
	background:url(../img/14.png);
	background-size: contain;
	margin-left: -95px;
	margin-top: 10px;
}
.s5 h2::after{
	animation: swing infinite;
	background:url(../img/13.png);
	background-size: contain;
	margin-left: 66px;
	margin-top: 10px;
	top:0;
	
}

.s5 .title{
    position:absolute;
    width: 80%;
    height: 57%;
    top:23%;
    left:50%;
    margin-left: -40%;
}
.s5 .title img{
      width: 110%;
    height: 110%;
    position: absolute;
    left: -18px;
}
.s7 .title form{
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
}
.s5 .title form input{
    width: 80%;
    height: 40px;
    margin-top: 15%;
    margin-bottom: 1%;
    border:1px solid #00fd9d;
    background:#fff;
}
.s5 .title form input:nth-of-type(4){
    background-color:#00f2ca;
    border-radius:10px;
    color:#fff;
}
.s5 .title p:nth-of-type(1){
    margin-top: 15px;
}




